.container {
    display: flex;
    flex-wrap: wrap;
  
     
}
.container > div {
    width: 300px;
    text-align: center;
    box-shadow:  0  0 10px #463636;
    margin: 10;
    margin-left: 100px;
    margin-top: 20px;
}
.container > div:hover {
    background-color: lightgrey;
}
.container > link:hover {
    background-color: lightgrey;
}